@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    -ms-overflow-style: none;
    scrollbar-width: none;
    font-family: "Poppins", sans-serif;
    overflow-x:hidden;
}
.Home{
    background-image: url(./assets/hero4.png);
    background-repeat: no-repeat;
    background-position:top 25% right 30%;
    object-fit:cover;
}
#btn{
    background-image: url(./assets/button.png);
    background-repeat: no-repeat;
    object-fit: cover;
    background-position: center;
    background-blend-mode: lighten;
}